[user]
	name = Diego Frattini
	email = dgfrattini@gmail.com

# https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[pull]
	rebase = false
