.DS_Store
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sync/
.cfg/
.vscode/
.cache/
.nvm/
.zsh_sessions/
.bash_sessions/
.npm/
.ssh/
.local/
.config/coc/
